<aside class="main-sidebar sidebar-light-lightblue">
  <ul class="nav nav-pills flex-column mb-auto py-4">
    <li>
      <a routerLink="/dashboard" class="nav-link">
        <mat-icon>dashboard</mat-icon>
        <h3>Dashboard</h3>
      </a>
    </li>
    <li>
      <a routerLink="/users-list" class="nav-link">
        <mat-icon>format_list_bulleted</mat-icon>
        <h3>Users List</h3>
      </a>
    </li>
    <li>
      <a routerLink="/user-profile" class="nav-link">
        <mat-icon>person_outline</mat-icon>
        <h3>Profile</h3>
      </a>
    </li>
  </ul>
</aside>
<div class="asideFiller"></div>
